<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
  <nav class="navbar" role="navigation" aria-label="main navigation" th:fragment="standard">
    <div class="navbar-brand">
      <a class="navbar-item" th:href="@{/}">
        <img th:src="@{/images/robintegg-logo.png}" width="112" height="28" alt="Robin Tegg">
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" th:href="@{/posts}">
          <span class="icon-text">
            <span class="icon"><i class="fas fa-newspaper"></i></span>
            <span>Posts</span>
          </span>
        </a>

        <a class="navbar-item" th:href="@{/bookshelf}">
          <span class="icon-text">
            <span class="icon"><i class="fas fa-book"></i></span>
            <span>Bookshelf</span>
          </span>
        </a>

        <a class="navbar-item" th:href="@{/reading-list}">
          <span class="icon-text">
            <span class="icon"><i class="fas fa-bookmark"></i></span>
            <span>Reading List</span>
          </span>
        </a>

        <a class="navbar-item" th:href="@{/podcasts}">
          <span class="icon-text">
            <span class="icon"><i class="fas fa-headphones"></i></span>
            <span>Podcasts</span>
          </span>
        </a>

        <a class="navbar-item" th:href="@{/tags}">
          <span class="icon-text">
            <span class="icon"><i class="fas fa-tags"></i></span>
            <span>Tags</span>
          </span>
        </a>

        <a class="navbar-item" th:href="@{/admin}">
          <span class="icon-text">
            <span class="icon"><i class="fas fa-admin"></i></span>
            <span>Admin</span>
          </span>
        </a>

      </div>

    </div>
  </nav>

  <script type="application/javascript" th:fragment="js">

    document.addEventListener('DOMContentLoaded', () => {

      // Get all "navbar-burger" elements
      const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

      // Check if there are any navbar burgers
      if ($navbarBurgers.length > 0) {

        // Add a click event on each of them
        $navbarBurgers.forEach(el => {
          el.addEventListener('click', () => {

            // Get the target from the "data-target" attribute
            const target = el.dataset.target;
            const $target = document.getElementById(target);

            // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
            el.classList.toggle('is-active');
            $target.classList.toggle('is-active');

          });
        });
      }

    });

  </script>

</body>

</html>