<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: standard('Create Book')"></head>
<body>
    <th:block th:replace="fragments/menu :: standard" />
    <section class="section">
        <div class="container">
          <form th:action="@{/admin/bookshelf/create}" th:object="${form}" method="post">

            <div class="field">
              <label class="label" for="title">Title</label>
              <div class="control">
                <input class="input" type="text" th:field="*{title}">
              </div>
            </div>

            <div class="field">
              <label class="label" for="subtitle">Subtitle</label>
              <div class="control">
                <input class="input" type="text" th:field="*{subtitle}">
              </div>
            </div>

            <div class="field">
              <label class="label" for="date">Date</label>
              <div class="control">
                <input class="input" type="text" th:field="*{date}" readonly>
              </div>
            </div>

            <div class="field is-grouped is-grouped-multiline">

              <div class="control" th:each="tag : *{tags}">
                <div class="tags has-addons">
                  <a class="tag is-link" th:text="${tag}" th:href="@{/tags/{tagName}(tagName=${tag})}">Technology</a>
                  <a class="tag is-delete" onclick="return this.parentNode.parentNode.remove();"></a>
                </div>
              </div>

            </div>

            <label class="checkbox">
              <input type="checkbox" th:field="*{publish}">
              Publish
            </label>

            <div class="field is-grouped">
              <div class="control">
                <button class="button is-link" type="submit" name="create">Submit</button>
              </div>
              <div class="control">
                <a class="button is-link is-light" th:href="@{/admin/bookshelf}">Cancel</a>
              </div>
            </div>

          </form>
        </div>
      </section>

      <th:block th:replace="fragments/footer :: standard" />
      
</body>
</html>