<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: standard('Bookshelf Admin')"></head>
<body>
    <th:block th:replace="fragments/menu :: standard" />

    <section class="section new">

        <h1 class="title">Create New</h1>

        <a class="button is-link" type="submit" th:href="@{/admin/bookshelf/create}">Submit</a>

    </section>

    <section class="section books">

        <h1 class="title">Books</h1>

        <table class="table">
            <thead class="th">
                <tr>
                    <th>Date</th>
                    <th>Title</th>
                    <th>Published</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="book : ${books}">
                    <td th:text="${#temporals.format(book.date,'MMM dd, yyyy')}"></td>
                    <td th:text="${book.title}"></td>
                    <td >
                        <form class="form" th:action="@{/admin/bookshelf}" method="post">
                            <span th:text="${book.published}" > </span>
                            <button class="button" type="submit" th:unless="${book.published}" name="publish" th:value="${book.id}">Publish</button>
                            <button class="button" type="submit" th:if="${book.published}" name="unpublish" th:value="${book.id}">Unpublish</button>
                        </form>
                    </td>
                    <td>
                        <form class="form" th:action="@{/admin/bookshelf}" method="post">
                            <button class="button" type="submit" name="edit" th:value="${book.id}">Edit</button>
                            <button class="button" type="submit" name="delete" th:value="${book.id}">Delete</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>

        <nav th:if="${books.getTotalPages()>1}" class="pagination is-centered" role="navigation" aria-label="pagination">
            <a th:if="${books.hasPrevious()}" class="pagination-previous" th:href="@{/bookshelf(page=${books.previousPageable().getPageNumber()},size=${books.previousPageable().getPageSize()})}">Previous</a>
            <a th:if="${books.hasNext()}" class="pagination-next" th:href="@{/bookshelf(page=${books.nextPageable().getPageNumber()},size=${books.nextPageable().getPageSize()})}">Next page</a>
            <ul class="pagination-list">
                <th:block th:if="${books.getTotalPages() > 3}">
                    <li><a class="pagination-link" aria-label="Goto first page" th:href="@{/bookshelf(page=0,size=${books.getSize()})}">1</a></li>
                    <li><span class="pagination-ellipsis">&hellip;</span></li>
                </th:block>
                <th:block th:if="${books.getNumber() > 0}">
                    <li><a class="pagination-link" aria-label="Goto previous page" th:text="${books.getNumber()}" th:href="@{/bookshelf(page=${books.getNumber() - 1},size=${books.getSize()})}">45</a></li>
                </th:block>
                <li><a class="pagination-link is-current" aria-label="Current Page " aria-current="page" th:text="${books.getNumber() + 1}" th:href="@{/bookshelf(page=${books.getNumber()},size=${books.getSize()})}">46</a></li>
                <th:block th:if="${books.getNumber() + 1 < books.getTotalPages()}">
                    <li><a class="pagination-link" aria-label="Goto previous page" th:text="${books.getNumber() + 2}" th:href="@{/bookshelf(page=${books.getNumber() + 1},size=${books.getSize()})}">47</a></li>
                </th:block>
                <th:block th:if="${books.getTotalPages() > 3}">
                    <li><span class="pagination-ellipsis">&hellip;</span></li>
                    <li th:if="${books.getTotalPages()>1}"><a class="pagination-link" aria-label="Goto last page" th:text="${books.getTotalPages()}" th:href="@{/bookshelf(page=0,size=${books.getTotalPages() - 1})}">86</a></li>
                </th:block>
            </ul>
        </nav>

    </section>

    <th:block th:replace="fragments/footer :: standard" />
    
</body>
</html>
