<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: standard('Robin Tegg')"></head>

<body>
    <th:block th:replace="fragments/menu :: standard" />

    <section class="hero is-primary is-light block">
        <div class="hero-body">
            <h1 class="title">
      
                <span class="icon">
                  <i class="fas fa-rss"></i>
                </span>
              
              <p>Robin Tegg</p>
        
            </h1>
            <div class="subtitle is-4">
                <p> A Java developer. Based in Leeds, England. Has interest in Software Architecture, Testing, Automation,
                    Tooling and UI design.</p>
          
              </div>
              <a class="button is-rss" th:href="@{/atom.xml}">
                <span class="icon">
                  <i class="fas fa-rss"></i>
                </span>
                <span>Subscribe</span>
              </a>
        </div>
    </section>

    <section class="section latest">

        <article class="block" th:each="content : ${latest}">

            <a th:href="@{'' + ${content.link}}" >
                <article class="media" >
                    <figure class="media-left">
                        <p class="image is-128x128">
                            <img src="https://bulma.io/images/placeholders/128x128.png">
                        </p>
                    </figure>
                    <div class="media-content">
                        <div class="content">
                            <h2 class="title" th:text="${content.title}">Title 1</h2>
                            <p class="subtitle has-text-grey" th:text="${content.subtitle}">This is a subtitle Title 1</p>
                            <p class="has-text-grey-light" th:text="${#temporals.format(content.date,'MMM dd, yyyy')}"></p>
                            <ul>
                                <li class="is-inline mr-3" th:each="tag : ${content.tags}">
                                    <a class="link" th:href="@{/tags/{id}(id=${tag})}" th:text="${tag}">tagName</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </article>
            </a>

        </article>

    </section>

    <th:block th:replace="fragments/footer :: standard" />

</body>

</html>