<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: standard('Robin Tegg')"></head>

<body>
    <th:block th:replace="fragments/menu :: standard" />

    <section class="hero is-primary is-light block">
        <div class="hero-body">
            <p class="title">
                Robin Tegg
            </p>
            <p class="subtitle">
                A Java developer. Based in Leeds, England. Has interest in Software Architecture, Testing, Automation,
                Tooling and UI design.
            </p>
        </div>
    </section>

    <section class="section latest">

        <article class="block" th:each="content : ${latest}">

            <a th:href="@{'' + ${content.link}}" >
                <article class="media" >
                    <figure class="media-left">
                        <p class="image is-128x128">
                            <img src="https://bulma.io/images/placeholders/128x128.png">
                        </p>
                    </figure>
                    <div class="media-content">
                        <div class="content">
                            <h2 class="title" th:text="${content.title}">Title 1</h2>
                            <p class="subtitle has-text-grey" >This is a subtitle Title 1</p>
                        </div>
                    </div>
                </article>
            </a>

        </article>

    </section>

</body>

</html>