<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: standard('Podcasts')"></head>
<body>
    <th:block th:replace="fragments/menu :: standard" />

    <section class="section items">

        <article class="block" th:each="podcast : ${podcasts}">
            <a th:href="@{'' + ${podcast.uri}}" >
                <div class="media" >
                    <figure class="media-left">
                        <p class="image is-128x128">
                            <img src="https://bulma.io/images/placeholders/128x128.png">
                        </p>
                    </figure>
                    <div class="media-content">
                        <div class="content">
                            <h2 class="title" th:text="${podcast.title}">Title 1</h2>
                            <p class="subtitle has-text-grey"  th:text="${podcast.subtitle}">This is a subtitle Title 1</p>
                            <ul>
                                <li class="is-inline mr-3" th:each="tag : ${podcast.tags}">
                                    <a class="link" th:href="@{/tags/{id}(id=${tag})}" th:text="${tag}">tagName</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </a>
        </article>

        <nav th:if="${podcasts.getTotalPages()>1}" class="pagination is-centered" role="navigation" aria-label="pagination">
            <a th:if="${podcasts.hasPrevious()}" class="pagination-previous" th:href="@{/podcasts(page=${podcasts.previousPageable().getPageNumber()},size=${podcasts.previousPageable().getPageSize()})}">Previous</a>
            <a th:if="${podcasts.hasNext()}" class="pagination-next" th:href="@{/podcasts(page=${podcasts.nextPageable().getPageNumber()},size=${podcasts.nextPageable().getPageSize()})}">Next page</a>
            <ul class="pagination-list">
                <th:block th:if="${podcasts.getTotalPages() > 3}">
                    <li><a class="pagination-link" aria-label="Goto first page" th:href="@{/podcasts(page=0,size=${podcasts.getSize()})}">1</a></li>
                    <li><span class="pagination-ellipsis">&hellip;</span></li>
                </th:block>
                <th:block th:if="${podcasts.getNumber() > 0}">
                    <li><a class="pagination-link" aria-label="Goto previous page" th:text="${podcasts.getNumber()}" th:href="@{/podcasts(page=${podcasts.getNumber() - 1},size=${podcasts.getSize()})}">45</a></li>
                </th:block>
                <li><a class="pagination-link is-current" aria-label="Current Page " aria-current="page" th:text="${podcasts.getNumber() + 1}" th:href="@{/podcasts(page=${podcasts.getNumber()},size=${podcasts.getSize()})}">46</a></li>
                <th:block th:if="${podcasts.getNumber() + 1 < podcasts.getTotalPages()}">
                    <li><a class="pagination-link" aria-label="Goto previous page" th:text="${podcasts.getNumber() + 2}" th:href="@{/podcasts(page=${podcasts.getNumber() + 1},size=${podcasts.getSize()})}">47</a></li>
                </th:block>
                <th:block th:if="${podcasts.getTotalPages() > 3}">
                    <li><span class="pagination-ellipsis">&hellip;</span></li>
                    <li th:if="${podcasts.getTotalPages()>1}"><a class="pagination-link" aria-label="Goto last page" th:text="${podcasts.getTotalPages()}" th:href="@{/podcasts(page=0,size=${podcasts.getTotalPages() - 1})}">86</a></li>
                </th:block>
            </ul>
        </nav>

    </section>

    <th:block th:replace="fragments/footer :: standard" />

</body>
</html>