<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: standard('Posts')"></head>
<body>
    <th:block th:replace="fragments/menu :: standard" />
    
    <section class="section posts">

        <article class="block" th:each="post : ${posts}">
            <a th:href="@{'' + ${post.uri}}" >
                <div class="media" >
                    <figure class="media-left">
                        <p class="image is-128x128">
                            <img src="https://bulma.io/images/placeholders/128x128.png">
                        </p>
                    </figure>
                    <div class="media-content">
                        <div class="content">
                            <h2 class="title" th:text="${post.title}">Title 1</h2>
                            <p class="subtitle has-text-grey" th:text="${post.subtitle}">This is a subtitle Title 1</p>
                            <p class="has-text-grey-light" th:text="${#temporals.format(post.date,'MMM dd, yyyy')}"></p>
                            <ul>
                                <li class="is-inline mr-3" th:each="tag : ${post.tags}">
                                    <a class="link" th:href="@{/tags/{id}(id=${tag})}" th:text="${tag}">tagName</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </a>
        </article>

    </section>

    <th:block th:replace="fragments/footer :: standard" />
    
</body>
</html>
