<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: standard(${item.title})"></head>
<body>
    <th:block th:replace="fragments/menu :: standard" />
    <section class="section">
        <div class="container">
          <h1 class="title" th:text="${item.title}">
            Hello World
          </h1>
          <p class="subtitle">
            My first <strong>READING LIST ITEM</strong>!
          </p>
        </div>
      </section>
</body>
</html>